spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/cloudcart
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  redis:
    host: redis
    port: 6379
